section {
    display: inline-block;
    width: 48%;
    min-height: 350px; /* Ensures consistent minimum height */
    border-radius: 6px;
    margin: 2px;
    padding: 10px;
    border: 2px solid black;
    vertical-align: top; /* Ensures sections align at the top */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}

.csym019  {
    background-color:turquoise;
    font-family: 'Courier New', Courier, monospace;
}
.csym015 {
    background-color: yellow;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.csym023{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-style:initial;
}
.csym025{
    background-color:coral;
    font-family: cursive;
}

.footer{
    font-size:10px;
}